@using ThaiMovie.ViewModel;

@model RandomMovieViewModel
@{
    ViewBag.Title = "Random";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{
    var className = Model.Customers.Count > 0 ? "popular" : null; //với số lượng khách hàng lớn hơn 0 là sẽ hiển thị ra màn hình có thêm class là popular trước tên movie
}


<h2 class="@className">@Model.Movie.Name</h2>
@if (Model.Customers.Count == 0)
{

    <text>Không có khách hàng</text>
}
else
{
    <ul>
        @foreach (var customer in Model.Customers)
        {
            <li>@customer.Name</li>
        }
    </ul>
}